@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), sans-serif;
}

h1 { 
  margin-top: 200px;
  margin-bottom: 200px;
}

h2 { 
  font-family: var(--font-bad-script), arial, serif;
}